node_modules/
.next/
out/
.env*
!.env.example
firebase-debug.log
firestore-debug.log
coverage/
tsconfig.tsbuildinfo
.DS_Store

certificates
service-account*.json
firebase-admin-key*.json
*-firebase-adminsdk-*.json
